.about-author {
  border-top: 1px solid #919191;
  padding: 16px 0 24px;
  margin-bottom: 24px;
}

.about-author__title {
  margin-bottom: 8px;
  color: $red;
}

.about-author__description {
  font-size: 14px;
}
