.about-author {
  background-color: rgba(#800000, 0.05);
  padding: 16px 16px 24px;
  margin-bottom: 24px;
}

.about-author__title {
  margin-bottom: 8px;
  color: $red;
}

.about-author__description {
  font-size: 14px;
}
