.article--listing {
  padding-bottom: 100px;
}

.article__header {
  margin-bottom: 30px;
}

.article__image-wrapper {
  .article--listing {
    margin-top: 6px;
  }

  display: inline-block;
  margin-bottom: 10px;
}

.article__image {
  @include media-breakpoint-up(lg) {
    .article--listing & {
      width: 240px;
    }
  }
  height: auto;
  border-radius: 4px;

}

.article__title {
  line-height: 1.3;
}

.post-meta-infos {
  position: relative;
  top: -8px;
  font-size: 14px;

  &, a {
    color: #919191;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: #88bbc8;
  }
}

.text-sep {
  padding: 0 5px;
}

h2,
h3 {

  &.ihumbak-anchor {
    color: maroon !important;
  }

}

.article {
  h3 {
    margin-top: 24px;
  }
}

.article__header-avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.yasr-visitor-votes {
  margin-top: 20px;
  margin-bottom: 20px;
}

.article__content {
  color: #666;
}

.entry-content {

  p {
    line-height: 1.75;
  }

  .article--listing & {
    color: #666;
  }
}
