.footer__main {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #222;
  color: #ddd;

  a {
    color: inherit;
  }
}

.footer__bottom {
  background-color: #333;
  color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
