.navigation {
  display: flex;
  align-items: center;
  height: 88px;
}

.navigation__nav {

  font-size: 13px;
  display: flex;

  @include media-breakpoint-up(lg) {
    height: 100%;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
  }

  li {
    display: flex;
  }

  .menu > .menu-item > a {
    color: #808080;
    font-weight: 600;
    text-decoration: none;
    padding: 0 13px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background-color: transparent;
      transition: background-color 0.3s ease-in-out;
    }

    &:hover {
      &::after {
        background-color: #c00;
      }
    }
  }

  .menu-item {
    &.current-menu-ancestor,
    &.current-menu-parent {
      a {
        color: #333;
      }
    }
  }



  @include media-breakpoint-up(lg) {
    .sub-menu {
      display: none;
    }
  }


  .menu {
    @include media-breakpoint-up(lg) {

    }
  }

  @include media-breakpoint-down(lg) {
    padding: 128px 0;
    position: fixed;
    right: 0;
    transform: translate(350px);
    top: 0;
    bottom: 0;
    max-width: 350px;
    width: 100%;
    background-color: #fff;

    ul {
      flex-wrap: wrap;
    }

    li {
      width: 100%;
    }

    a {
      font-weight: 400;
      font-size: 17px;
      padding: 15px 50px;
    }

    .navigation--pushed & {
      transform: translate(0);
    }
  }
}

.navigation__toggle {
  width: 36px;
  height: 36px;
  border: 0;
  outline: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;

  span {
    width: 100%;
    height: 3px;
    background-color: #808080;
  }
}

.navigation__nav-container,
.menu-primary-menu-container {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

@include media-breakpoint-up(lg) {

  .navigation__nav {
    .menu {
      > .menu-item {
        position: relative;

        &:hover {
          > .sub-menu {
            display: flex;
            background-color: #fff;
            box-shadow: 0 8px 15px rgb(0 0 0 / 10%);
            border-color: #e1e1e1;
            border-width: 1px;
            border-style: solid;
            border-top-width: 2px;
            border-top-color: $red;

            a {
              padding: 8px 15px;
              font-size: 12px;
              line-height: 23px;
              width: 100%;
              color: #808080;
              text-decoration: none;

              &:hover {
                background-color: #f8f8f8;
                color: #333;
              }
            }
          }
        }
      }
    }

    .sub-menu {
      position: absolute;
      top: 100%;
      margin-top: -1px;
      flex-direction: column;
      width: 220px;
    }
  }
}

.menu-item .menu-item {

  position: relative;

  .sub-menu {
    position: absolute;
    right: 100%;
    top: 0;
    background-color: #fff;
    border: 1px solid $border-color;
    border-right: 0;
  }

  &:hover {
    > .sub-menu {
      display: flex;
    }
  }
}
