// ==========================================================================
// Lists - Modernized
// ==========================================================================

.entry-content ul {
  .page-template-boxed-without-sidebar & {
    list-style: none;

    li {
      position: relative;
      list-style: none;

      &::before {
        content: '\f00c';
        font-family: FontAwesome;
        color: var(--sb-color-link);
        position: absolute;
        right: 100%;
        margin-right: 4px;
      }
    }
  }
}

.entry-content {
  li {
    margin-bottom: 3px;
  }
}

ul li {
  &::marker {
    color: var(--sb-color-primary);
  }
}

#adminmenu {
  ul {
    list-style: none;
  }
}
