.container-fluid-stop {
  max-width: 1310px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.page__wrapper {
  padding-top: 88px;
}

.page__content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main {

}

.sidebar {

}

img {
  max-width: 100%;
}
